.header {
  height: 80px;
  border-bottom: 1px solid #d2d2d2;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 20;

  &__logo {
    color: gold;
    font-size: 32px;
    line-height: 1;
    font-weight: 800;
  }
  &__controls {
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
  }
  @media screen and (max-width: 767px) {
    &__logo {
      font-size: 22px;
    }
  }
  @media screen and (max-width: 540px) {
    flex-direction: column;
    &__logo {
      font-size: 18px;
    }
  }
}
