@import "../../scss/mixins";

.select {
  display: flex;
  align-items: stretch;
  position: relative;
  z-index: 3;
  &__drop {
    width: 120px;
    font-size: 14px;
    height: auto;
    position: relative;
    &_disable {
      pointer-events: none;
      .select__value {
        color: #ccc;
      }
    }
  }
  &__item {
    @include flex_center;
    padding: 6px 10px;
    border-bottom: 1px solid #f3f3f3;
    @media (hover: hover) {
      transition: background-color 0.4s ease;
      cursor: pointer;
      &:hover {
        background-color: rgb(232, 232, 232);
      }
    }
    &_active {
      background-color: rgb(232, 232, 232);
    }
  }
  &__value {
    height: 100%;
    border-bottom: 1px solid #6a76e2;
    border-top: 1px solid #6a76e2;
    width: 100%;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    @media (hover: hover) {
      cursor: pointer;
    }
    @include flex_center;
  }
  &__list {
    position: absolute;
    width: 100%;
    height: auto;
    top: 48px;
    left: 0;
    z-index: -1;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 34px -20px rgba(0, 0, 0, 0.75);
    visibility: hidden;
    opacity: 0;
    transform: translateY(-30px);
    transition: all 0.4s ease;
    &_open {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
}
