@import "../../../scss/mixins";

.tree {
  &__space {
    padding-top: 30px;
    position: relative;
    transition: all 0.5s;
    z-index: 2;
    & ul::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      border-left: 1px solid #949494;
      width: 0;
      height: 30px;
    }
  }
  &__item {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 10px 0 10px;
    transition: all 0.5s;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 50%;
      border-top: 1px solid #949494;
      width: 50%;
      height: 20px;
    }
    &::after {
      right: auto;
      left: 50%;
      border-left: 1px solid #949494;
    }
    &:only-child::after,
    &:only-child::before {
      display: none;
    }
    &:only-child {
      padding-top: 0;
    }

    &:first-child::before,
    &:last-child::after {
      border: 0 none;
    }
    &:last-child::before {
      border-right: 1px solid #949494;
    }
  }
  &__flex {
    @include flex_center;
    position: relative;
    z-index: 10;
    transform: translateX(36px);
    gap: 8px;
    &_0 {
      transform: translateX(14px);
    }
  }
  &__value {
    min-width: 60px;
    padding: 8px 16px;
    max-width: 200px;
    color: #ffffff;
    @include flex_center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    position: relative;
    word-break: break-all;
    min-width: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.5s;
    background-color: #a8a8a8;
    &_0 {
      color: #191919;
      background-color: #fff;
      border: 1px dashed #ccc;
      font-weight: 700;
      text-transform: capitalize;
    }
    &_1 {
      background-color: #ffa275;
    }
    &_2 {
      background-color: #6a76e2;
    }
  }
}
