@import "../../scss/mixins";

.button {
  @include action_effect;
  @include flex_center;
  padding: 10px;
  background-color: #6a76e2;
  box-shadow: 0px 10px 36px -16px rgba(0, 0, 0, 0.75);
  font-size: 14px;
  height: auto;
  width: auto;
  @media screen and (max-width: 767px) {
    padding: 4px;
  }
}
