@import "../../scss/mixins";

.button {
  @include action_effect;
  @include flex_center;
  padding: 10px;
  font-size: 14px;
  height: auto;
  width: auto;
  @media screen and (max-width: 767px) {
    padding: 4px;
  }
  &__filled {
    background-color: #6a76e2;
    border: 1px solid transparent;
    color: #fff;
  }
  &__outlined {
    border: 1px solid #6a76e2;
    color: #6a76e2;
  }
  &:disabled {
    filter: brightness(150%);
    pointer-events: none;
  }
}
